%button {
  border: none;
  cursor: pointer;
  outline: none;
  padding: 15px;
  background-color: $primary-btn-color;
  border-radius: 4px;
}

%input-field {
  $line-height: 18px;

  height: $line-height * 2;
  margin-bottom: 15px;
}
