@import 'styles/shared.scss';

.ListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid $dark;
  margin-bottom: 5px;
}

// .ListItem__button {
//   @extend %button;
//   transition: background-color $timing-function 0.25s;
//   &:hover {
//     background-color: $light-gray;
//   }
// }

.ListItem__button + .ListItem__button {
  margin-top: 5px;
  display: block;
  @media screen and (min-width: 480px) {
    display: inline-block;
    margin-top: 0px;
    margin-left: 10px;
  }
}
